# Data Science Tools and Ecosystem - Peer Graded Assignment

This is the notebook for the Coursera "Tools for Data Science" Peer-Graded Assignment. 
Contained within this notebook, data science tools and ecosystem are summarized.

**Objectives:**
- List Popular Data Science Languages
- List Commonly Used Data Science Libraries for Python
- Use Jupyter Notebooks and style them with Markdown
- Use Python to Create Simple Expressions

Some of the most popular Data Science Languages used are:
1. Python
2. R
3. MATLAB
4. Julia
5. SQL

Some of the commonly used Data Science Libraries for Python include:
1. NumPy
2. Pandas
3. SciPy
4. Matplotlib

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Jupyter Notebooks |
| RStudio |

Below are a few examples of evaluating arithmetic expressions in Python:

```
>>> 34 + 15
49

>>> (2*8)+4
20
```

In [6]:
# This is a simple arithmetic expression to multiply two numbers first, and then add an additional number
(2*8)+4

20

In [7]:
# The following will convert 200 minutes into hours, by dividing 200 by 60
minutes = 200
print(f"{minutes} minutes = {minutes/60} hours")

200 minutes = 3.3333333333333335 hours

## Author
Anannya Bhagat